<div class="centered">

  <h1>AC Hub<h1>

  <div>
    <a href="/admin" class="button admin-panel">Admin Panel Sign in</a>
    <a href="/api-docs" class="button api-docs">HTTP API Documentation</a>
  </div>

</div>
